.gallerey {
    position: relative;
    padding: 100px 0;
    &_left {
        position: absolute;
        top: 35px;
        left: 0;
    }
    &_right {
        position: absolute;
        top: -135px;
        right: 0;
    }
    &_block {
        position: relative;
        z-index: 100;
        margin: 100px auto;
    }
    &-video {
        max-width: 1100px;
        width: 100%;
    }
    &__slider {
        position: relative;
        overflow: hidden;
        margin-top: 50px;
        margin-bottom: 20px;
        .swiper-wrapper {
            align-items: center;
        }

        .swiper-controls {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 30px;
        }
        .swiper-pagination {
            position: static;
        }
        .swiper-button {
            margin: 0 20px;
            &:after {
                // transform: rotate(180deg);
            }
        }
    }
}