.program {

	@media (max-width: 1199px) {
		.container {
			max-width: 100%;
		}
		&__teble {
			TH {
				font-size: 20px;
				line-height: 130%;
			}
	
			TD {
				padding: 15px 10px;
				font-size: 18px;
				line-height: 110%;
			}
		}

	}

	@media (max-width: 860px) {
		padding: 55px 0 50px 0;
		.container {
			max-width: 540px;
		}
		&__title {
			font-size: 28px;
			line-height: 42px;
			margin-bottom: 40px;
		}
		&__teble {
			display: none;
		}
		&__mobile {
			display: block;
			&-card {
				font-family:"ProximaNova";
				border-bottom: 1px solid #000000;
				margin-bottom: 30px;
				font-size: 19px;
				line-height: 23px;
				color: #150035;
				&_time {
					font-weight: 600;
					margin-bottom: 10px;
				}
				&_title {
					font-weight: normal;
					font-size: 19px;
					margin-bottom: 20px;
				}
				&_speakers {
					font-weight: 600;
					display: flex;
					flex-direction: column;
					list-style: none;
					margin-bottom: 20px;
					li {
						padding-bottom: 10px;
						&:before {
							content: '\2014';
							padding-right: 10px;
						}
					}

					span {
						font-weight: initial;
						display: block;
						padding-bottom: 15px;
					}
				}
			}
		}

	}

	@media (max-width: 575px) {
		
	}
}
   