.header {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    min-height: 81px;
    left: auto;
    right: auto;
    top: 0;
    z-index: 999999999999999999;
    transition: 0.3s;

    .page-scrolled & {
        min-height: 61px;
        background: rgba(255, 255, 255, 0.95);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    &__box {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__logo,
    &__phone,
    &__buttonbox {
        display: flex;
        align-items: center;
    }

    &__logo {
        flex-grow: 1;
        
        &-img {
            margin-right: 15px;

            &:last-child {
                margin: 0;
            }
            &_lemchik {
                width: 250px;
            }
        }
    }

    &__phone {
        padding-right: 30px;

        &-number {
            font-size: 18px;
        }
    }

    &__buttonbox {
        width: 100%;
        max-width: 263px;
    }

    &__button {
        padding: 0 20px;
        height: 45px;
        font-size: 16px;
        letter-spacing: 0.1em;
    }
}


