@media (max-width: 1199px) {

    .container {max-width: 830px;}

    H2 {
        font-size: 60px;
    }

}

@media (max-width: 991px) {
    
}

@media (max-width: 767px) {

    H2 {
        font-size: 28px;
    }
    
}

@media (max-width: 575px) {
    
}