.result {

    @media (max-width: 1199px) {

        padding: 80px 0 90px 0;

        &__title {
            margin-bottom: 55px;
        }

        &__list {
            margin: 0 -12px;
        }

        .swiper-slide {
            padding: 0 12px 25px 12px;
        }

        &__item {
            padding: 43px 20px 15px 33px;
    
            &-head {
                margin-bottom: 50px;
            }
    
            &-num {
                min-width: 80px;
                font-size: 50.8496px;
                line-height: 35px;
            }

            &-img {
                max-height: 27px;
            }
    
            &-text {
                font-size: 14.1249px;
            }
        }
    }

    @media (max-width: 991px) {
        
    }

    @media (max-width: 767px) {

        padding: 40px 0 50px 0;

        &__title {
            margin-bottom: 25px;
        }

        .swiper-wrapper {
            flex-wrap: nowrap;
        }

        .swiper-slide {
            width: auto;
            padding-bottom: 0;
        }

        .swiper-nav {
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
        }

        .swiper-pagination-bullet-active {
            background: #fff;
        }

        &__item {
            padding: 32px 20px 10px 25px;
    
            &-head {
                margin-bottom: 23px;
            }
    
            &-num {
                min-width: 60px;
                font-size: 39.4512px;
                line-height: 27px;
            }

            &-img {
                max-height: 27px;
            }
    
            &-text {
                font-size: 15px;
            }
        }
        
    }
}
   